body{
	background:rgb(245,245,245);
	color: grey;
	font-size: 25px;
	font-family:Helvetica;
	margin: 0
	}
#banner{
	text-align: center;
	background-image: url("https://picsum.photos/1300/600?random");
	background-size: cover;
	padding: 100px
	text-shadow: 1px 1px 5px black;

	}
#banner h1 {
  color: white;
  font-size: 50px;
}

h1{
	font-family: Courier;
	color: red;
	font-weight: lighter;
	font-size: 10px;
	}

.card{
  text-align: center;
  padding: 50px;
  font-weight: lighter;
}


h2 {font-family: Courier;
	color: pink;
	font-weight: lighter;
	font-size: 15px;
}
a {
	color: yellow;
	}

a:hover {
  text-decoration: none;
  color: purple;
}

#footer {
	padding: 50px;
	background-color: rgb(30,30,30);
	color: rgb(240, 240, 240);
}
.social {
	color: rgb(230, 230, 230);
	}

.social:hover {
	color:white;
}